@font-face {
    font-family: 'Roboto'; /*a name to be used later*/
    src: url('Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#newfont{
    font-family:'Roboto';
}