p{
    font-family: Roboto;
}
.title_1{
    font-size: 60px;
    font-weight: bold;
    color: #0F319E;
    margin-bottom: -60px;
}
.title_2{
    font-size: 60px;
}
.title_box{
    text-align: center;

}
.login_box{
    text-align: center;
    
}
.login_title{
    color: #4B3B3B;
    font-family: "Source Sans 3";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: normal;
}
input[type=text]{
    border-radius: 10px;
    border: 1px solid #C9C9C9;
    height: 61px;
    text-indent: 5px;
}
input[type=text]:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
  }
  input[type=text]:focus {
    box-shadow: 0 0 5pt 2pt #D3D3D3;
    outline-width: 0px;
  }
#student_id{
    width: 303px;
}
#student_password{
    width: 513px;
}
::placeholder{
    color: #BEBEBE;
    text-align: center;
    font-size: medium;
    margin: 0;
    position: absolute;
    left: 40%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#check_button{
    border-radius: 20px;
    border: 1px solid #C9C9C9;
    background-color: #0F319E;
    height: 61px;
    width: 195px;
    text-align: center;
    color: #FFF;
    font-size: medium;
}
#check_button:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}
#school_logo{
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}