p{
    font-family: Roboto;
}
.title_1{
    font-size: 60px;
    font-weight: bold;
    color: #0F319E;
    margin-bottom: -60px;
}
.title_2{
    font-size: 60px;
}
.title_box{
    text-align: center;
}
td{
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    flex: 1 0 0;
    color: #000;
    font-family: "Source Sans 3";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 33%;
    
}
th{
    color: #FFF;
    font-family: "Source Sans 3";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #0F319E;
}
table{
    padding: 10px 0px;
    width: 100%;
    overflow-y: scroll;
}
button{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background-color: white;
    height: 56px;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: medium;
}
button:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}
.selected{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    border: 1px solid #000;
    background: #0F319E;
    color: #FFF;
}
.cover_container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: start;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    width: 80%;
    overflow:auto;
}